.d3-tip {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  padding: 12px;
  background: rgba(121, 85, 72, 0.8);
  color: #fff;
  border-radius: 2px;
  line-height: 1.5;
  &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    width: 100%;
    font-size: 10px;
    line-height: 1;
    color: rgba(121, 85, 72, 0.8);
    content: '\25BC';
    position: absolute;
    text-align: center;
  }
  &.n:after {
    margin: -3px 0 0;
    top: 100%;
    left: 0;
  }
}
